# Ignore everything
*
# Except files with selected extentions that prettier supports
!**/*.json
!**/*.js
!**/*.jsx
!**/*.cjs
!**/*.mjs
!**/*.ts
!**/*.tsx
!**/*.cts
!**/*.mts
!**/*.sql

# Even if they are in subdirectories
!*/

# Common to all worksapces
**/.cache

# Unrelated to workspaces
.yarn/
.vscode/
.cache/
.nx/cache

